<footer class="my-footer py-4">
  <!-- Grid container -->
  <div class="text-center container py-3">
    <!-- Section: Social media -->
    <section>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating rounded-circle m-1" target="_blank" href="https://www.instagram.com/joaopedrojuvino/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating rounded-circle m-1" target="_blank" href="https://github.com/joao-juvino" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center pb-3">
    <small class="text-light">
      © 2023 Copyright: João Juvino
    </small>
  </div>
  <!-- Copyright -->
</footer>