<div class="my-jumbotron">
    <h1 class="display-4">Bem-vindo ao blog do node!</h1>
    <p class="lead">Esse é um <strong>Blog</strong> simples, desenvolvido com Nodejs, Express e Mongodb</p>
    <hr class="my-4">
    <p>Aqui você encontrará conteúdos sobre o mundo da computação</p>
    <button>Crie uma conta</button>
</div>
<hr>
<h2 class="display-5">Postagens recentes: </h2>
<div class="cards">
    {{#each postagens}}
    {{>_card}}
    {{else}}
    <h5>Nenhuma postagem</h5>
    {{/each}}
</div>