<div class="card-unico my-card">
    <div class="card-body">
        <h1 class="display-5">Categoria: {{categoria.nome}}</h1>
        <hr>
        <div class="cards">
            {{#each postagens}}
            {{>_card}}
            {{else}}
            <div class="my-card my-4">
                <div class="card-body">
                    <h5>Nenhuma postagem possui essa categoria</h5>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>