<div class= "card-unico my-card postagem p-5 my-4">
    <div class="card-body">
        <h1 class="display-5">{{postagem.titulo}}</h1>
        <hr>
        <small><span class="small-destaque">Data de publicação:</span> {{postagem.data}}</small><br>
        <small><span class="small-destaque">Categoria:</span> {{postagem.categoria}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>
