<div class="card">
    <div class="card-body">
        <h1 class="display-5">{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <small>Categoria: {{postagem.categoria}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>
